.advertisement{
    width: 24vw;
    height: 40vh;
    background-color: black;
  }
  section{
    align-items: center;
    h3{
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        font-size: smaller;
      }
  }
 

  