nav {
  background-color: rgb(236, 234, 234);
  margin: 0 1.5rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  ul {
    display: flex;

    gap: 11px;
    width: 100%;

    li {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
.search {
  margin-left: 3.125rem;
}

@media screen and (max-width: 1100px) {
  nav ul {
    overflow-x: auto;
  }
}
